@import "normalize.css";
@import "grid.css";
@import "fonts.css";
:root {
  --red-color: #ab162c;
  --text-color: #080521;
  --white-color: #ffffff;
  --orange-color: #f2a22a;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "IraninaSans";
  line-height: 1.5;
  color: var(--text-color);
}
.align-center {
  align-items: center;
}
.m-auto {
  margin: 0 auto;
}
/* header : */
.header {
  background-color: var(--white-color);
  padding-top: 1rem;
  height: 4rem;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__right i {
  color: var(--red-color);
}
.header__left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu {
  display: flex;
}
.menu__list {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  top: 100%;
  left: 0;
  margin-top: 0.3rem;
  /* opacity: 0; */
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  z-index: 100;
}
.menu__list li {
  padding: 0 3rem;
}
.change-theme {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 2rem;
}
.change-theme svg {
  width: 2rem;
  height: 2rem;
  fill: var(--white-color);
}
.menu__item {
  margin-left: 2rem;
  padding-left: 2rem;
  cursor: pointer;
}
.menu__item div {
  min-width: 8rem;
  position: relative;
}
.menu__link {
  font-size: 1.6rem;
  color: var(--text-color);
  padding-left: 1rem;
}
.page-language {
  display: flex;
  align-items: center;
}
.right__title {
  font-size: 1.4rem;
}
.menu__list--show {
  display: block;
}
.myAccount {
  padding-left: 1rem;
}
/* navbar : */
.navbar {
  background-color: transparent;
  margin-top: 1rem;
  position: sticky;
  padding: 2rem 0;
  top: 0px;
  z-index: 2;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  width: 7.5rem;
}
.navbar__image {
  width: 100%;
}
.navbar-links {
  display: flex;
}
.nav__link {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.nav__link:hover {
  color: var(--red-color);
}

.navbar-collapse {
  display: flex;
  min-width: 104rem;
  align-items: center;
  justify-content: space-around;
}
.nav-icon {
  display: none !important;
}
.nav__item {
  margin-left: 2rem;
  font-weight: bold;
  position: relative;
}
.navbar-btn {
  background-color: var(--red-color);
  padding: 1.4rem 2rem 1.1rem 2rem;
  position: relative;
  border-radius: 3rem;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  display: flex;
}
.color-white {
  color: #ffff;
}
.sub_menu {
  position: absolute;
  background-color: var(--white-color);
  border-radius: 1rem;
  min-width: 12rem;
  padding: 0.5rem 1rem;
  top: 3.2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
}
.nav__item:hover > .sub_menu {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
.sub_menu-link {
  color: var(--text-color);
}
.sub_menu-item {
  margin-top: 1rem;
}
/* banner : */
.banner {
  background-size: cover;
  background-position: center;
}
.banner__info {
  color: var(--white-color);
  font-style: normal;
  background: green;
  padding: 7px 10px 7px 50px;
  clip-path: polygon(0 100%, 20% 50%, 0 0, 100% 0%, 100% 50%, 100% 100%);
  margin-bottom: 15px;
  display: inline-block;
  font-size: 1.6rem;
}
.banner__link {
  background-color: var(--orange-color);
  padding: 0.9rem 2.2rem;
  position: relative;
  border-radius: 3rem;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  display: inline-block;
  margin-top: 2rem;
}
.main {
  position: relative;
  background-image: url(../images/banner_bg_2.jpg);
}
.banner__title {
  min-width: 35rem;
  font-size: 7.2rem;
  font-weight: bold;
}
.banner__text {
  min-width: 35rem;
  font-size: 1.6rem;
}
.banner-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__img {
  width: 630px;
  height: 570px;
}
.banner__photo {
  width: 100%;
}
/* Popular foods : */
.Popularfoods {
  background-color: #f4ecdf;
  padding-top: 7rem;
}
.card-image {
  position: relative;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid red;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.slide__title {
  background-color: #ab162c;
  padding: 0.4rem 2.4rem;
  color: var(--white-color);
}
.swiper-slide {
  background-color: var(--white-color);
  border-radius: 2rem;
}
.slide__link {
  background-color: var(--red-color);
  padding: 0.9rem 2.2rem;
  position: relative;
  border-radius: 3rem;
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  display: inline-block;
  margin: 1rem 0;
}
.section-head {
  text-align: center;
  margin-bottom: 5rem;
}
.section-head__title {
  font-size: 4.8rem;
  margin: 0;
}
.swiper-pagination {
  position: static !important; /*default8*/
  margin-top: 1rem;
}

.swiper-pagination-bullet {
  width: 1.8rem !important;
  height: 1.8rem !important;
  border: 0.3rem solid var(--red-color) !important;
  background-color: #fff !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  border-color: black !important;
}
/* Delicious menu : */
.delicious-menu {
  background-color: #f4ecdf;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.delicious-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #c0b7a9;
  padding: 1.4rem 0;
  border-bottom: 1px solid #c0b7a9;
}

.delicious-item {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delicious-item--active {
  color: var(--red-color);
}
.items-foods {
  margin-top: 3rem;
}
.item-food {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
}
.item-food__img {
  width: 20%;
  /* background-color: transparent;
   */
  background-color: #f4ecdf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-food__img img {
  border-radius: 50%;
}
.item-food__info {
  width: 80%;
  /* background-color: yellow; */
  position: relative;
  padding: 11px 14px;
}
.up {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  min-width: 200px;
  width: 100%;
}
.up a {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}
.up a::before {
  content: "";
  position: absolute;
  width: 29rem;
  top: 1.4rem;
  height: 0.1rem;
  background-color: #c0b7a9;
  right: 14rem;
}
.down p {
  padding-top: 1.4rem;
}
.see-menus {
  background-color: var(--red-color);
  padding: 1.5rem 2.2rem;
  border-radius: 3rem;
  cursor: pointer;
  width: 23rem;
}
.see-menus a {
  color: var(--white-color);
}
/* app-download : */
.app-download {
  background-image: url(../images/download_bg_2.jpg);
  background-size: cover;
  padding: 7rem 19rem;
  background-repeat: no-repeat;
  background-position-x: center;
}
.banner__info-2 {
  color: var(--text-color);
  font-style: normal;
  background: var(--orange-color);
  padding: 7px 10px 7px 50px;
  clip-path: polygon(0 100%, 20% 50%, 0 0, 100% 0%, 100% 50%, 100% 100%);
  margin-bottom: 15px;
  display: inline-block;
  font-size: 1.3rem;
}
.app-info__title {
  font-size: 4rem;
  animation: app-info-title__animation 10s infinite;
  font-weight: bold;
}

@keyframes app-info-title__animation {
  0% {
    color: #08d0ff;
  }
  25% {
    color: #07f5fb;
  }
  50% {
    color: #76ffa8;
  }
  75% {
    color: #fffb9f;
  }
  100% {
    color: #fffbe1;
  }
}
.app-info__link1 {
  background-color: var(--red-color);
  padding: 0.9rem 2.2rem;
  position: relative;
  border-radius: 3rem;
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  display: inline-block;
  margin: 1rem 0;
}
.app-info__link2 {
  background-color: var(--white-color);
  padding: 0.9rem 2.2rem;
  position: relative;
  border-radius: 3rem;
  cursor: pointer;
  text-align: center;
  color: var(--text-color);
  display: inline-block;
  margin: 1rem 0;
}
