@import "normalize.css";
@import "grid.css";
@import "fonts.css";
:root {
  --red-color: #ab162c;
  --text-color: #080521;
  --white-color: #ffffff;
  --orange-color: #f2a22a;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "IraninaSans";
  line-height: 1.5;
  color: var(--text-color);
}
.align-center {
  align-items: center;
}
/* header : */
.header {
  background-color: var(--white-color);
  padding-top: 1rem;
  height: 4rem;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__right i {
  color: var(--red-color);
}
.header__left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu {
  display: flex;
}
.menu__list {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  top: 100%;
  left: 0;
  margin-top: 0.3rem;
  /* opacity: 0; */
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  z-index: 100;
}
.menu__list li {
  padding: 0 3rem;
}
.change-theme {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 2rem;
}
.change-theme svg {
  width: 2rem;
  height: 2rem;
  fill: var(--white-color);
}
.menu__item {
  margin-left: 2rem;
  padding-left: 2rem;
  cursor: pointer;
}
.menu__item div {
  min-width: 8rem;
  position: relative;
}
.menu__link {
  font-size: 1.6rem;
  color: var(--text-color);
  padding-left: 1rem;
}
.page-language {
  display: flex;
  align-items: center;
}
.right__title {
  font-size: 1.4rem;
}
.menu__list--show {
  display: block;
}
.myAccount {
  padding-left: 1rem;
}
/* navbar : */
.navbar {
  background-color: transparent;
  margin-top: 1rem;
  position: sticky;
  padding: 2rem 0;
  top: 0px;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  width: 7.5rem;
}
.navbar__image {
  width: 100%;
}
.navbar-links {
  display: flex;
}
.nav__link {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.nav__link:hover {
  color: var(--red-color);
}
.navbar-btn {
  display: flex;
}
.navbar-collapse {
  display: flex;
  min-width: 104rem;
  align-items: center;
  justify-content: space-around;
}
.nav-icon {
  display: none !important;
}
.nav__item {
  margin-left: 2rem;
  font-weight: bold;
  position: relative;
}
.navbar-btn {
  background-color: var(--red-color);
  padding: 1.4rem 2rem 1.1rem 2rem;
  position: relative;
  border-radius: 3rem;
  z-index: 1;
  cursor: pointer;
  text-align: center;
}
.color-white {
  color: #ffff;
}
.sub_menu {
  position: absolute;
  background-color: var(--white-color);
  border-radius: 1rem;
  min-width: 12rem;
  padding: 0.5rem 1rem;
  top: 3.2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
}
.nav__item:hover > .sub_menu {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
.sub_menu-link {
  color: var(--text-color);
}
.sub_menu-item {
  margin-top: 1rem;
}
/* banner : */
.banner {
  background-size: cover;
  background-position: center;
}
.banner__info {
  color: var(--white-color);
  font-style: normal;
  background: green;
  padding: 7px 10px 7px 50px;
  clip-path: polygon(0 100%, 20% 50%, 0 0, 100% 0%, 100% 50%, 100% 100%);
  margin-bottom: 15px;
  display: inline-block;
  font-size: 1.6rem;
}
.banner__link {
  background-color: var(--red-color);
  padding: 0.9rem 2.2rem;
  position: relative;
  border-radius: 3rem;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  display: inline-block;
  margin-top: 2rem;
}
.main {
  position: relative;
  background-image: url(../images/banner_bg_2.jpg);
}
.banner__title {
  min-width: 35rem;
  font-size: 7.2rem;
  font-weight: bold;
}
.banner__text {
  min-width: 35rem;
  font-size: 1.6rem;
}
.banner-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__img {
  width: 630px;
  height: 570px;
}
.banner__photo {
  width: 100%;
}
/*  */