@media screen and (max-width: 1401px) {
  .navbar-collapse {
    min-width: 90rem;
  }
  .up a::before {
    content: "";
    position: absolute;
    width: 20rem;
  }
}
@media screen and (max-width: 1200px) {
  .navbar-wrapper {
    justify-content: space-around;
  }
  .navbar-collapse {
    min-width: 82rem;
  }
  .nav__link {
    font-size: 1.5rem;
  }
  .banner__title {
    font-size: 4.2rem;
  }
  .banner__img {
    width: 487px;
    height: 516px;
  }
  .Popularfoods__title {
    font-size: 2rem;
  }
  .section-head__title {
    font-size: 4rem;
  }
  .up a {
    font-size: 14px;
  }
  .up a::before {
    width: 17rem;
    right: 9rem;
  }
}
@media screen and (max-width: 992px) {
  .navbar-collapse {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 100%;
    right: 0;
    left: 0;
    height: 0px;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    min-width: auto;
    overflow: hidden;
    transition: all 200ms ease-in-out;
  }
  .navbar-collapse--open {
    height: 40rem; /*add with js*/
    position: absolute;
    background-color: #f2a22a;
    border-radius: 1rem;
  }
  .nav-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: orange;
    font-size: 16px;
    transition: all linear 0.3s;
    border-radius: 10px;
  }
  .navbar-wrapper {
    justify-content: space-between;
    position: relative;
  }
  .navbar-links {
    flex-direction: column;
  }
  .nav__item {
    margin-top: 2rem;
  }
  .navbar-btn {
    margin-top: 2rem;
  }
  .sub_menu {
    background-color: #ab162c;
    z-index: 100;
  }
  .banner {
    padding-top: 1rem;
  }
  .banner__link {
    margin-top: 4rem;
  }
  .banner__img {
    width: 630px;
    height: 516px;
  }
  .up a {
    font-size: 2rem;
  }
  .up a::before {
    width: 26rem;
    right: 16rem;
  }
  .mt-3rem {
    margin-top: -3rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: initial;
  }
  .header__right {
    display: none;
  }
  .header__left {
    justify-content: center;
  }
  .change-theme {
    margin-left: 4rem;
  }
  .navbar {
    margin-top: 3rem;
  }
  .banner__img {
    width: 450px;
    height: auto;
  }
  .Popularfoods__title {
    font-size: 1.7rem;
  }
  .item-food {
    width: 44rem;
  }
  .up a {
    font-size: 16px;
  }
  .up a::before {
    width: 13rem;
    right: 12rem;
  }
}
@media screen and (max-width: 576px) {
  .banner__img {
    width: auto;
    height: auto;
  }
  .delicious-items {
    border: none;
  }
  .delicious-item {
    margin-top: 2.5rem;
  }
  .item-food {
    width: 34rem;
    margin-right: auto;
    margin-left: auto;
  }
  .up a::before {
    width: 6rem;
    right: 11rem;
  }
  .item-food__img img {
    width: 8rem;
    height: 8rem;
  }
  .see-menus {
    padding: 1.1rem 2.1rem;
    border-radius: 3rem;
    width: 21rem;
  }
}
@media screen and (max-width: 394px) {
  /* .menu li:last-of-type {
    padding-left: 0;
  } */
  .menu__item {
    padding-left: 0;
  }
  .item-food {
    width: 31rem;
  }
  .up a,
  .up p {
    font-size: 13px;
  }
  .up a::before {
    width: 5rem;
    top: 1rem;
  }
  .down p {
    font-size: 12px;
    font-weight: bold;
  }
}
